body{
margin:0;
background:#0a0a0a;
color:white;
font-family:sans-serif;
}

header{
background:black;
padding:15px;
text-align:center;
font-size:24px;
border-bottom:2px solid gold;
}

.banner img{
width:100%;
height:220px;
object-fit:cover;
}

.game-list{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:20px;
padding:20px;
}

.game-card{
background:#111;
border-radius:10px;
cursor:pointer;
transition:.3s;
text-align:center;
}

.game-card:hover{
transform:scale(1.05);
box-shadow:0 0 15px gold;
}

.game-card img{
width:100%;
border-radius:10px;
}

.game-card p{
padding:10px;
}
